<div class="card shadow-effect" *ngIf ="postData" [routerLink]="['/post', postData.id]">
  <img
    src="{{ postData.data.postImgPath}}"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">{{postData.data.category.category}}</small>
    <small class="bg-light text-success text-center ml-3" *ngIf ="postData.isFeatured">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - {{postData.data.views}}</small>  

    <h5 class="mt-1">{{postData.data.title}}</h5>
    <P
      >{{postData.data.excerpt}}</P
    >

    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - {{postData.data.createdAt.toMillis() | date}}</small
    >
  </div>
</div>
